// Page header
.featured-slider-wrapper {
	position: relative;
	height: 100%;
	@include grid-row();
	@include grid-row-size(1024px);	
	padding: 2em;
}
.featured-slider {
	position: relative;
	width: 100%;
	bottom: 0;
	left: 0;	
	@include breakpoint(medium) {
		bottom: -50px;
	}
	.column {		
		text-align: center;		
		div {
			display: inline-block;
			margin: 0.5rem;
			max-height: 300px;	
			// background: $outer-space;
		}
	}
	.column-block {
		margin-bottom: 0;
	}
	.slick-slide img {
		@include breakpoint(medium) {
			@include img-cover();
		}
		height: 300px !important;					
	}
}
#front-hero {
	@include grid-row();
	@include grid-row-size(expand);	
	@include linear-gradient(to bottom, $hero-gradient-start,$hero-gradient-mid,$hero-gradient-end);
	height: auto;
	margin-bottom: 1.5rem;

	@include breakpoint(medium) {
		height: rem-calc(360);
		margin-bottom: 5rem;	
	}

}

// Intro
.intro {
	// @include grid-row();

	.fp-intro {
		@include grid-column(12);			
		@include breakpoint(medium) {
			@include grid-column(9);
			@include grid-col-pos(center);
		}
		@include breakpoint(large) {
			@include grid-column(7);
			@include grid-col-pos(center);
		}		
	}

	// .fp-intro {
	// 	@include breakpoint(small) {
	// 		@include grid-column(12);
	// 	}

	// 	@include breakpoint(medium) {
	// 		@include grid-column(10);
	// 		@include grid-column-offset(1);

	// 		h2 {
	// 			font-weight: 300;
	// 			margin-bottom: 1.5rem;
	// 		}

	// 		h4 {
	// 			font-size: 1.125rem;
	// 			line-height: 1.6;
	// 			color: #777;
	// 			margin-bottom: 2rem;
	// 		}
	// 	}
	// }
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}
.post-divider {
	width: 50px;
	border: 1px solid red;
	position: relative;
	margin-bottom: $global-mobile-padding - 0.5;
	
	@include breakpoint(medium) {
		margin-bottom: $global-mobile-padding;
	}
	
	&.center {
		margin: 0 auto $global-mobile-padding - 0.5 auto;
		@include breakpoint(medium) {
			margin: 0 auto $global-mobile-padding auto;
		}
	}	
}

// Benefits
.benefits {
	@include grid-row();
	text-align: center;

	header {
		@include grid-column(12);

		h2 {
			font-weight: 300;
		}

		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
		}
	}

	.semantic,
	.responsive,
	.customizable,
	.professional {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(3);
		}

		img {
			padding: 1.25rem;
			margin: 1rem auto 0 auto;
		}

		h3 {
			color: #0a0a0a;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p {
			font-size: 0.9375rem;
		}
	}

	.why-foundation {
		@include grid-row();
		@include grid-column(12);
		margin-top: 4rem;
	}
}
