// Layout
#site-container {
	// max-width: 1200px;
	margin: 68px auto 0 auto;
	@include breakpoint(medium) {
		margin: 98px auto 0 auto;
	}	
}
#page {
	.wps {
	padding-left: $global-mobile-padding;
	padding-right: $global-mobile-padding;
	}
	.wps-nl {
		@include breakpoint(medium) {
			padding-left: 0;
		}
	}
}