// Layout
#site-container {
	// max-width: 1200px;
	margin: 68px auto 0 auto;
	@include breakpoint(medium) {
		margin: 98px auto 0 auto;
	}	
}
#page,
#single-post {
	.wps {
		padding-left: $global-mobile-padding;
		padding-right: $global-mobile-padding;
	}
}
#page {
	.wps {
		&.lf {
			@include breakpoint(medium only) {
				text-align: center;
				.author-pic {
					width: auto;
				}
			}
		}
		&.rf{
			padding-top: $global-mobile-padding;
			@include breakpoint(large) {
				padding-top: $global-mobile-padding + 1;
			}
		}
	}
	.wps-nl {
		@include breakpoint(medium) {
			padding-left: 0;
		}
	}
}

.section,
.post-grid {
	@include grid-row();
}
.post-grid {
	margin-top: 1.5rem;
	@include breakpoint(medium) {
		margin-top: 2.5rem;
	}
}
.subsection-title-block,
.section-title-block {
	@include grid-column(12);			
	text-align: center;
	margin: $global-margin auto $global-margin*2 auto;		
}
.section-title-block {
	@include breakpoint(medium) {
		@include grid-column(7);
		@include grid-col-pos(center);
		margin: $global-margin*4 auto;
	}
}
.subsection-title-block {
	margin: $global-margin*2 auto;		
	@include breakpoint(medium) {
		margin: $global-margin*4 auto;
	}
	@include breakpoint(large){
		text-align: left;
	}	
}
.post {
	@include grid-column-collapse;
	
	padding-left: $global-mobile-padding;
	padding-right: $global-mobile-padding;
	
	@include breakpoint(small only) {
		padding-bottom: 0.5rem;
		border-bottom: 1px dashed #cacaca;
		&:last-child {
			border-bottom: none;
		}	
	}	

	@include breakpoint(medium only) {
		&:nth-of-type(2n+1) {
			padding-right: $global-mobile-padding/2;
		}
		&:nth-of-type(2n) {
			padding-left: $global-mobile-padding/2;
		}
	}
	@include breakpoint(large) {
		padding-left: $global-mobile-padding/2;
		padding-right: $global-mobile-padding/2;
			
		&:nth-of-type(3n+1){
			padding-left: $global-mobile-padding;
			padding-right: $global-mobile-padding/2;
		}
		&:nth-of-type(3n){
			padding-left: $global-mobile-padding/2;	
			padding-right: $global-mobile-padding;
		} 		 			
	}
	article {
		@include breakpoint(medium) {
			// background: $light-gray;
			padding: $global-mobile-padding;			
			&:hover {
				background: $light-gray;
			}
		}
	}
}

article {
	.post-date,
	.post-title,
	.post-cats {
		margin-bottom: $global-mobile-padding - 0.5;
		@include breakpoint(medium) {
			margin-bottom: $global-mobile-padding;
		}
	}
	.post-date {
		text-transform: uppercase;
		font-weight: 100;
		color: $header-bg;
		margin-bottom: $global-mobile-padding - 0.5;			
	}
	.post-title a {
		color: $black;
	}				
}

.post-categories {
	@include menu-base;
}