#page {
	@include grid-row();
	padding-top: $global-margin*2;

	.main-content {
		display: block;		
		// @include grid-column(12);		
	}
	.section-header {
		@include grid-column(12);
	}
}
.post {
	article {
		@include breakpoint(medium) {
			background: $light-gray;		
			&:hover {
				background: transparentize($light-gray,0.5);
			}
		}
	}
}
// article .post-date,
// .subsection h5,
.subsection .fa-li{
	color: $header-bg;
}
article .post-title a {
	color: $black;
	letter-spacing: -.025em;
}