// Page Contact
.page-contact {
	// .left-content {
	// 	@include show-for(medium);
	// }
}
.pirate_forms {
	.form-control {
		margin-bottom: 0;
		border: 1px solid rgba(51, 51, 51, 0.14);
	    font-size: 95%;
	    padding: $global-padding - 0.25 $global-mobile-padding - 0.25;
	    height: auto;
	}
	.button {
		font-family: $body-font-family;
		margin-top: 0;
		text-align: left;
	}
}
