// Page Blog
.author-bio {
	@include grid-row();
	.author-pic {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-bottom: $global-margin;
	}
}
.author .author-bio {
	@include breakpoint(medium) {
		padding: $global-padding 0;
	}
}