#page {
	@include grid-row();
	margin-top: 1rem;

	.main-content {
		display: block;		
		// @include grid-column(12);		
	}
	.section-header {
		@include grid-column(12);
	}
}
.post {
	article {
		@include breakpoint(medium) {		
			&:hover {
				background: $light-gray;
			}
		}
	}
}
article .post-date,
.subsection h5,
.subsection .fa-li{
	color: $header-bg;
}
article .post-title a {
	color: $black;
}