// Page About
.about-btm > .right-content > .subsection {
	@include breakpoint(large) {
		padding-left: 2rem;
	}
}
.left-content, .right-content {
	@include grid-column(12);
}
.left-content {
	@include breakpoint(large) {
		@include grid-column(5);
	}
	.author-pic {
		width: 100%;
		margin-bottom: 1.5rem;
	}
}
.right-content {
	@include breakpoint(large) {
		@include grid-column(7);
		padding-left: 1rem !important;		
	}
	@include breakpoint(large) {
		padding-left: 2rem !important;	
	}			
}
.wps.right-content:first-of-type {
	background: red;
}
.author-info .contact-details {
	li {
		margin-bottom: $global-margin;
	}
}