// Page About
.about-btm > .right-content > .subsection {
	@include breakpoint(large) {
		padding-left: 2rem;
	}
}
.left-content, .right-content {
	@include grid-column(12);
}
.left-content {
	@include breakpoint(large) {
		@include grid-column(5);
	}
	.author-pic {
		width: 100%;
		margin-bottom: 1.5rem;
	}
}
.right-content {
	@include breakpoint(large) {
		@include grid-column(7);
		padding-left: 1rem !important;		
	}
	@include breakpoint(large) {
		padding-left: 2rem !important;	
	}			
}
.author-pic-wrap {
	@include breakpoint(large) {
		// background-color: $light-gray;
		margin-bottom: $global-margin*2;
	}
}
.author-info {
	@include breakpoint(large) {
		padding: 0 $global-mobile-padding $global-mobile-padding;
		border-left: 4px solid rgba(146, 47, 46, 0.9);
	}
	.contact-details {
		li {
			margin-bottom: $global-margin;
			width: 100%;
		}
	}
}