#featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(273);
  margin-bottom: $global-mobile-padding;

  @include breakpoint(medium) {
    height: rem-calc(546);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(728);
  }
}
