// Apply outline styles only when input method is keyboard
// remove :focus style via What Input using progressive enhancement
// so :focus isn't left broken if JavaScript fails

[data-whatinput="mouse"] a:focus, button:focus
[data-whatinput="touch"] a:focus, button:focus {
  outline: none;
}
// Tag List
.tag-list {
	margin: $global-margin 0;
	a {
		display: inline-block;
	    padding: 4px 12px;
	    border: 1px solid rgba(0,0,0,0.1);
	    color: #b1b1b1;
	    margin: $global-margin/2 $global-margin $global-margin/2 0;	   
	    border-radius: 3px;	    
	    font-size: 0.7142rem;
	    text-transform: uppercase;
	}
}
ul.no-bullet li {
	display: inline-block;
}
.subsection ul.no-bullet li {
	width: 100%;
	margin-bottom: $global-margin;
}
.fa-ul {
	margin-left: $global-mobile-padding;
}
.fa-li {	
	top: 5px;
}
// CAllout
.thick-border__left {
	border-left: 4px solid transparentize($header-bg,0.1);
}