// Misins
// Fill Image Inside a Container
@mixin img-cover() {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
// BG Linear Gradient
@mixin linear-gradient($dir,$start,$mid,$end){
	background: linear-gradient($dir, $start 0%,$mid 41%,$end 100%);
}
@mixin lb-small {
	color: $light-gray;
	font-size: 5rem;
	opacity: 0.5;
	z-index: -1;
	@include absolute-center;
	top: 20%;
}
@mixin lb-medium {
	color: $light-gray;
	font-size: 8rem;
	opacity: 0.5;
	z-index: -1;
	@include vertical-center;
	top: 20%;
	left: -50%;	
}
// Letter Behind a Text
@mixin letter-behind($letter) {
	&:before {
		content: $letter;
		@include lb-small;
	}			
	@include breakpoint(medium) {
		&:before {
			content: $letter;
			@include lb-medium;
		}				
	}
}
@mixin letter-behind-big($letter) {
	&:before {
		content: $letter;
		@include lb-small;		
	}			
	@include breakpoint(medium) {
		&:before {
			content: $letter;
			@include lb-medium;
			left: -10%;
		}				
	}
} 
// Red Box
@mixin box-title($color) {
	display: inline-block;	
	margin-bottom: $global-mobile-padding - 0.5;
	text-transform: uppercase;	

	@if($color == red) {
		padding: $global-padding/2 $global-padding + 0.3;
		color: $white;
		background-color: #bb6363;
		font-weight: 400;		
	} 
	@elseif($color == gray) {
		padding: $global-padding/2 $global-padding $global-padding/2 $global-padding;
		color: $black;
		background-color: #e2e2e2;
		border-left: 4px solid #421313;
		text-transform: capitalize;
		font-size: 80%;
	}
	@else {
		color: #bb6363;
		background-color: $white;
		margin-bottom: $global-margin - 0.5;
		font-size: 80%;
	}
	
}