#footer-container {
	@include grid-row();
	border-top: 1px solid #ccc;
	margin-top: 1.5rem;
	@include breakpoint(medium) {
		margin-top: 3rem;
	}

	#footer {
		@include grid-row();
		padding: 1.5rem;

		@include breakpoint(medium) {
			padding: 2rem;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}
