#footer-container {
	@include grid-row();
	border-top: 1px solid #ccc;
	margin-top: 1.5rem;
	@include breakpoint(medium) {
		margin-top: 3rem;
	}

	#footer {
		@include grid-row();
		padding: 1.5rem;

		@include breakpoint(medium) {
			padding: 2rem;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.bottom-logo,
		.footer-menu {
			@include grid-col;			
		}
		.bottom-logo {			
			font-family: $header-font-family;
			font-size: 90%;
			.textwidget {
				padding: 0.5rem 0 0 0;
			}
			.svg-wrap {
				width: 140px;
			    display: inline-block;
			    vertical-align: text-top;
			    opacity: 0.85;
			}
			@include breakpoint(medium) {
				@include grid-col-size(5);
			}
		}
		.footer-menu {
			@include show-for(medium);
			@include breakpoint(medium) {
				@include grid-col-size(7);
			}
			.menu {
				float: right;
				li a {
					font-size: 85%;
				}
			}
		}
	}

	.footer-logo {
		height: 100%;
		max-height: 16px;
		margin-right: 10px; 
	}
}
