// Typography
.section-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	letter-spacing: -0.01em;
	@include breakpoint(medium) {
		font-size: 1.75rem;
		margin-bottom: 1.25rem;
	}
	@include breakpoint(large) {
		font-size: 2rem;
		margin-bottom: 1.25rem;
	}
}
// Category Menu
.category-menu {
	@include show-for(large);
	font-size: 80%;
	font-weight: 700;
	text-transform: uppercase;
	.menu .active a {
		background: none;
		color: red;
	}	
}
.category-mobile-menu {
	@include hide-for(large);
}
// Section Blocks

.section-title-block,
.subsection-title-block {
	position: relative;
	h2 {
		display: inline-block;
		position: relative;			
	}
}

// Letter Behind
.section-title-block,
.subsection-title-block {
	.sec-about { @include letter-behind('A'); }
	.sec-bks { @include letter-behind-big('B'); }
	.sec-edu { @include letter-behind-big('E'); }
	.sec-exp, .sec-res, .sec-pub, .sec-pap { @include letter-behind-big('P'); }
	.sec-muse { @include letter-behind('M'); }
	.sec-qlf { @include letter-behind-big('Q'); }	
	.sec-res { @include letter-behind-big('R'); }
}
