// Typography
.section-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	@include breakpoint(medium) {
		font-size: 2.25rem;
		margin-bottom: 1.25rem;
	}
	@include breakpoint(large) {
		font-size: 2.25rem;
		margin-bottom: 1.25rem;
	}
}
// Category Menu
.category-menu {
	@include show-for(large);
	font-size: 80%;
	font-weight: 700;
	text-transform: uppercase;
	.menu .active a {
		background: none;
		color: red;
	}	
}
.category-mobile-menu {
	@include hide-for(large);
}