// Typography
.section-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	letter-spacing: -0.01em;
	@include breakpoint(medium) {
		font-size: 1.75rem;
		margin-bottom: 1.25rem;
	}
	@include breakpoint(large) {
		font-size: 2rem;
		margin-bottom: 1.25rem;
	}
}
// Category Menu
.category-menu,
.category-mobile-menu,
.single-category-menu {	
	font-family: $header-font-family;
	font-size: 80%;
	font-weight: 400;
	text-transform: uppercase;
	li > a {
		text-transform: uppercase;
	}
	li.active > a {
		background: $light-gray;
		color: $header-bg;
	}	
}
.category-menu {
	@include show-for(large);
}
.category-menu,
.category-mobile-menu,
.single-category-menu {
	li {
		a {
			color: $black;
			&:hover {
				background: transparentize($light-gray,0.5);
				color: $header-bg;
			}
		}
	}
}
.single-category-menu {
	font-family: $body-font-family;
	font-size: 100%;
 	li > a {
 		text-transform: capitalize;
 	}
}
.category-mobile-menu {
	@include hide-for(large);
}
// Section Blocks

.section-title-block,
.subsection-title-block {
	position: relative;
	h2,h3 {
		display: inline-block;
		position: relative;
		letter-spacing: -0.04em;
		@include breakpoint(medium) {
		padding-left: 1.5rem;	
		}			
	}
}

// Letter Behind
.section-title-block,
.subsection-title-block {
	.sec-about { @include letter-behind('A'); }
	.sec-bks { @include letter-behind-big('B'); }
	// .sec-blog { @include letter-behind('B'); }	
	.sec-edu { 
		@include letter-behind-big('E'); 
		@include breakpoint(medium) {
			&:before {left: -20%;} 
		}
	}
	.sec-exp, .sec-res, .sec-pub, .sec-pap { @include letter-behind-big('P'); }
	.sec-muse { @include letter-behind('M'); }
	.sec-qlf { @include letter-behind-big('Q'); }	
	.sec-res { @include letter-behind-big('R'); }
}

// Article Post Date 

article	.post-date {
	@include box-title(red);
	text-transform: uppercase;
	font-size: 70%;		
}
.subsection {
	h5 {
		@include box-title(white);
		&.year {
			text-transform: capitalize;
		}
		&.position, &.title {
			&:before {
				@include fa-icon();
				content: $fa-var-caret-right;
				margin-right: $global-margin/2;
			}
		}
		.time-period {
			margin-left: 1.5rem;
		    color: $black;
		    text-transform: capitalize;
		    font-weight: 100;			
		}		
	}
	h4 {
		@include breakpoint(medium) {
			font-size: 1.25rem;
		}
		font-family: $body-font-family;
		font-weight: 700;
		letter-spacing: -0.025em;
	}
	h6, ul.tags li {
		@include box-title(gray);
		&.author {
			font-size: 90%;
			background-color: $white;
		}
	}
	ul.tags {
		margin:0 0 0.5rem 0;
		li {
			padding: 0.3rem 0.75rem;
			border-left: none;			
			margin-bottom: 0.5rem;

			&:before {
				@include fa-icon();
				content: $fa-var-bookmark;
				margin-right: $global-margin/2;
			}
		}
	}	
}
.subs-list {
	@include breakpoint(small only) {
		margin-bottom: 0;		
	}
	&:last-of-type {
		@include breakpoint(small only) {
			margin-bottom: 0;
			p {	margin-bottom: 0; }
		}
	}	
}
.academics-list {
	li {
		.alma-mater { color: $white; }
		&:first-of-type .alma-mater { background: #484848; }
		&:nth-of-type(2) .alma-mater { background: lighten(#484848,10%); }
		&:nth-of-type(3) .alma-mater { background: lighten(#484848,20%); }
		&:last-of-type .alma-mater { background: lighten(#484848,30%);	}
	}
}